* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.heading{
  text-align: center;
  h1{
    font-size: 3rem;
    color: #31b7e0;
  }
  p{
    color : #1359ef;
    font-size: 1.5rem;
  }
}

.flashcards div {
  border: 1px solid #e7e7e7;
  background-color: #31b7e0;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

div.selected {
  border: 1px solid #31e043;
  background-color: #31e043;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .flashcards {
    display: none;
    grid-template-columns: 1fr;
  }
  .heading{
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1.2rem;
    }
  }
  .flashcards div {
    font-size: 1.2rem;
  }
  .flashcards div.selected {
    font-size: 1.2rem;
  }
  
}